/* Footer address */
.footer-address {
  color: var(--text-color);
}


.social-link {
  display: block; 
}


.social-link > svg {
  fill: var(--text-color); 
  width: 2rem;   
  height: 2rem;
  vertical-align: middle; 
}
